services:
  postgres:
    image: postgres:16-alpine
    container_name: login_postgres
    environment:
      POSTGRES_DB: db_login
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
